.box {
    display: none;
    position: relative;
}

.box.ativo {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.box.ativo .info {
    position: absolute;
    top: 40%;
    left: 0;
    margin-left: 40px;
    color: white;
    z-index: 3;


    h2 {
        font-size: 10rem;
        width: 20px;
        line-height: 140px;
        animation: animacao 0.7s ease;
        position: relative;
        left: 0;
    }

    p {
        font-size: 1.625rem;
        width: 900px;
        margin-top: 40px;
        animation: animacao1 0.7s ease;
        position: relative;
        left: 10px;
    }

}

@keyframes animacao {
    from {
        left: -100px;
        
    }
}

@keyframes animacao1 {
    from {
        left: -200px;
        
    }
}