* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

body {
    height: 100vh;
    overflow: hidden;
    background-color: #000;
}



.home {
    display: flex;
    justify-content: center;
    align-self: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    .player {
        img {
            width: 200px;
            height: 900px;
            object-fit: cover;
            transition: width 4s cubic-bezier(0.19, 1, 0.22, 1);
            filter: grayscale(100%)
        }


    }
}

.player:hover {

    img {
        width: 800px;
        transition: width 4s cubic-bezier(0.19, 1, 0.22, 1), filter 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        filter: none;
    }

}

.back {
    font-size: 20px;
    background-color: transparent;
    border: 1px solid #fff;
    opacity: .9;
    border-radius: 15px;
    padding: 5px;
    text-align: center;
    width: 100px;
    color: #fff;
    position: absolute;
    top: 5%;
    left: 2.3%;
    text-decoration: none;
    margin: 0;
    animation: animacao 0.7s ease;
    transition: border-radius .8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.back:hover {
    opacity: 1;
    border-radius: 0px;
}